In [132]:
x = "AB C       D E DE G F G F C F GAC DE B D EF G B ABC FC BAF G D E       AF A E B AC D GF GD AE C E DG CB AB C D E F  H J K LM I H J K LM I I J K LM H I J K LM H G G D E AB C F"

In [133]:
path= "/Users/rps/Library/Mobile Documents/com~apple~CloudDocs/med2022/Gineco/INTERNOS G3 - DIVISAO SEMINARIOS G3A.pdf"

In [134]:
from collections import Counter
my_str = x
counter = Counter(my_str)
#print(counter['A'])
counter

Counter({'A': 10,
         'B': 9,
         ' ': 81,
         'C': 10,
         'D': 10,
         'E': 10,
         'G': 10,
         'F': 10,
         'H': 4,
         'J': 4,
         'K': 4,
         'L': 4,
         'M': 4,
         'I': 4})

In [135]:
path= "/Users/rps/Library/Mobile Documents/com~apple~CloudDocs/med2022/Gineco/INTERNOS G3 - DIVISAO GRADES G3A.pdf"
#path = "x.pdf"
# Import the required Module
import tabula
# Read a PDF File
df = tabula.read_pdf(path, pages='all')[0]
# convert PDF into CSV
#tabula.convert_into(path, "x.csv", output_format="csv", pages='all')
print(df)

     DATA     Unnamed: 0 Unnamed: 1   HU PA/Amb/ CC Estudo      Unnamed: 2  \
0   17/01  segunda-feira      MANHA     A B C D E F      G             NaN
1     NaN            NaN      TARDE     A B C D E F      G             NaN
2   18/01    terça-feira      MANHA     A B C D E G      F             NaN
3     NaN            NaN      TARDE     A B C D E G      F             NaN
4   19/01   quarta-feira      MANHA     A B C D F G      E             NaN
5     NaN            NaN      TARDE     A B C D F G      E             NaN
6   20/01   quinta-feira      MANHA     A B C E F G      D             NaN
7     NaN            NaN      TARDE     A B C E F G      D             NaN
8   21/01    sexta-feira      MANHA     A B D E F G      C             NaN
9     NaN            NaN      TARDE     A B D E F G      C             NaN
10  24/01  segunda-feira      MANHA         FERIADO    NaN         FERIADO
11    NaN            NaN      TARDE             NaN    NaN             NaN
12  25/01    terça-feira      MANHA  EMENDA FERIADO    NaN  EMENDA FERIADO
13    NaN            NaN      TARDE             NaN    NaN             NaN
14  26/01   quarta-feira      MANHA     A C D E F G      B             NaN
15    NaN            NaN      TARDE     A C D E F G      B             NaN
16  27/01   quinta-feira      MANHA     B C D E F G      A             NaN
17    NaN            NaN      TARDE     B C D E F G      A             NaN
18    NaN            NaN        NaN             NaN    NaN             NaN
19  28/01    sexta-feira      MANHA       H I J K L      M             NaN
20    NaN            NaN      TARDE       H I J K L      M             NaN
21  31/01  segunda-feira      MANHA       H I J K M      L             NaN
22    NaN            NaN      TARDE       H I J K M      L             NaN
23  01/02    terça-feira      MANHA       H I J L M      K             NaN
24    NaN            NaN      TARDE       H I J L M      K             NaN
25  02/02   quarta-feira      MANHA       H I K L M      J             NaN
26    NaN            NaN      TARDE       H I K L M      J             NaN
27  03/02   quinta-feira      MANHA       H J K L M      I             NaN
28    NaN            NaN      TARDE       H J K L M      I             NaN
29  04/02    sexta-feira      MANHA       I J K L M      H             NaN
30    NaN            NaN      TARDE       I J K L M      H             NaN
31    NaN            NaN        NaN             NaN    NaN             NaN

   CSE Paula\rSouza CSE\rButantã SAEP Cirurgia\rMasto Amb\rMasto\rICESP  \
0             H I J          NaN  NaN             K L               NaN
1               NaN          NaN  NaN             K L                 I
2               NaN          NaN  NaN               I                 K
3             K L M            H  NaN               I               NaN
4               H I          NaN  NaN               J               NaN
5               NaN          NaN    M               J                 H
6               NaN          NaN    I             H M               NaN
7             J K L          NaN  NaN             H M               NaN
8               NaN          NaN  NaN               I               NaN
9               NaN          NaN  NaN               I               NaN
10              NaN          NaN  NaN             NaN               NaN
11              NaN          NaN  NaN             NaN               NaN
12              NaN          NaN  NaN             NaN               NaN
13              NaN          NaN  NaN             NaN               NaN
14              H L          NaN  NaN               K               NaN
15              NaN          NaN    J               K                 M
16              NaN          NaN    K             H J               NaN
17            I L M          NaN  NaN             H J               NaN
18              NaN          NaN  NaN               I               NaN
19              NaN          NaN  NaN               A               NaN
20              NaN          NaN  NaN               A               NaN
21            A B C          NaN  NaN             D E               NaN
22              NaN          NaN  NaN             D E                 G
23              NaN          NaN  NaN               B                 A
24            D E F            G  NaN               B               NaN
25              A B          NaN  NaN               C                 E
26              NaN          NaN    F               C                 B
27              NaN          NaN    B             A F               NaN
28            G D E          NaN  NaN             A F               NaN
29              NaN          NaN  NaN               G               NaN
30              NaN          NaN  NaN               G               NaN
31              NaN          NaN  NaN             NaN               NaN

   AGD\rMasto Cirurgia\rOnco Amb Onco  CRH Estudo.1  Unnamed: 3
0         NaN              M      NaN  NaN      NaN         NaN
1           J              M      NaN  NaN        H         NaN
2         NaN              J      NaN    L      H M         NaN
3         NaN              J      NaN  NaN      NaN         NaN
4         NaN              L        K  NaN        M         NaN
5           I              L      NaN  NaN        K         NaN
6         NaN            NaN        L    J        K         NaN
7         NaN            NaN      NaN  NaN        I         NaN
8         NaN            NaN        J  H K      L M         NaN
9         K M            NaN      NaN  NaN    H J L         NaN
10        NaN            NaN      NaN  NaN      NaN         NaN
11        NaN            NaN      NaN  NaN      NaN         NaN
12        NaN            NaN      NaN  NaN      NaN         NaN
13        NaN            NaN      NaN  NaN      NaN         NaN
14        NaN              I        M  NaN        J         NaN
15          H              I      NaN  NaN        L         NaN
16        NaN            NaN        L    M        I         NaN
17        NaN            NaN      NaN  NaN        K         NaN
18        NaN            NaN      NaN  NaN      NaN         NaN
19        NaN            NaN      D E  B C      F G         NaN
20        F G            NaN      NaN  NaN  B C D E         NaN
21        NaN              F      NaN    G      NaN         NaN
22          B              F      NaN  NaN      A C         NaN
23        NaN              C      NaN  F G      D E         NaN
24          A              C      NaN  NaN      NaN         NaN
25        NaN              D        G  NaN        F         NaN
26          G              D      NaN  NaN      A E         NaN
27        NaN            NaN        C    E      D G         NaN
28          C            NaN      NaN  NaN        B         NaN
29        NaN            NaN      A B  C D      E F         NaN
30        D E            NaN      NaN  NaN  A B C F         NaN
31        NaN            NaN      NaN  NaN      NaN         NaN

In [136]:
df1 =df.dropna( subset = ['Estudo'])
df1 = df1.fillna(' ')
#df1.drop( df1.colunns[0,1,2], axis = 1)
df1 = df1.iloc[:,3:]
df1

,HU PA/Amb/ CC,Estudo,Unnamed: 2,CSE Paula\rSouza,CSE\rButantã,SAEP,Cirurgia\rMasto,Amb\rMasto\rICESP,AGD\rMasto,Cirurgia\rOnco,Amb Onco,CRH,Estudo.1,Unnamed: 3
0,A B C D E F,G,,H I J,,,K L,,,M,,,,
1,A B C D E F,G,,,,,K L,I,J,M,,,H,
2,A B C D E G,F,,,,,I,K,,J,,L,H M,
3,A B C D E G,F,,K L M,H,,I,,,J,,,,
4,A B C D F G,E,,H I,,,J,,,L,K,,M,
5,A B C D F G,E,,,,M,J,H,I,L,,,K,
6,A B C E F G,D,,,,I,H M,,,,L,J,K,
7,A B C E F G,D,,J K L,,,H M,,,,,,I,
8,A B D E F G,C,,,,,I,,,,J,H K,L M,
9,A B D E F G,C,,,,,I,,K M,,,,H J L,
14,A C D E F G,B,,H L,,,K,,,I,M,,J,
15,A C D E F G,B,,,,J,K,M,H,I,,,L,
16,B C D E F G,A,,,,K,H J,,,,L,M,I,
17,B C D E F G,A,,I L M,,,H J,,,,,,K,
19,H I J K L,M,,,,,A,,,,D E,B C,F G,
20,H I J K L,M,,,,,A,,F G,,,,B C D E,
21,H I J K M,L,,A B C,,,D E,,,F,,G,,
22,H I J K M,L,,,,,D E,G,B,F,,,A C,
23,H I J L M,K,,,,,B,A,,C,,F G,D E,
24,H I J L M,K,,D E F,G,,B,,A,C,,,,
25,H I K L M,J,,A B,,,C,E,,D,G,,F,
26,H I K L M,J,,,,F,C,B,G,D,,,A E,
27,H J K L M,I,,,,B,A F,,,,C,E,D G,
28,H J K L M,I,,G D E,,,A F,,C,,,,B,
29,I J K L M,H,,,,,G,,,,A B,C D,E F,
30,I J K L M,H,,,,,G,,D E,,,,A B C F,

In [137]:
# from collections import Counter
# my_str = [ df1.iloc[:,i].values.tolist() for i in range(len(df1.columns)) ]
# x = ' '.join(my_str)
# counter = Counter(x)
# counter
#print(x)

In [138]:
from collections import Counter

my_str = [ df1.iloc[:,i].values.tolist() for i in range(len(df1.columns)) ]
# convert list of list in list
my_str = [ item for sublist in my_str for item in sublist]
#x = ' '.join(my_str)

x = ' '.join(my_str)
counter = Counter(x)
counter

Counter({'A': 26,
         ' ': 729,
         'B': 26,
         'C': 26,
         'D': 26,
         'E': 26,
         'F': 26,
         'G': 26,
         'H': 26,
         'I': 26,
         'J': 26,
         'K': 26,
         'L': 26,
         'M': 26})

* Entao, todos os grupos ( letras) tem o mesmo numero de aulas